/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
}
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height: 100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #404040;
	text-align: left;
	font: 1em 'Open Sans', sans-serif; /* используем безопасные шрифтовые CSS стеки */
	min-height: 100%;
	background: #f9f9f9;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration: none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
img {
	max-width: 100%;
}
.clr {
	clear: both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

header {
	background: url(images/header-bg.jpg) center center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 135px 20px 90px;
}
header > h1 {
	font: 3.75em 'Raleway', sans-serif;
	margin-bottom: 25px;
}
header > h3 {
	font-size: 1.125em;
	font-style: italic;
	margin-bottom: 50px;
}
header > p {
	font-size: 0.75em;
}
.subscribe {
	background: rgba(0, 0, 0, 0.65);
	display: table;
	padding: 20px;
	margin: 0 auto 10px;
	border-radius: 5px;
}
input[type="text"], input[type="email"] {
	padding: 12px 20px 13px;
	border: none;
	max-width: 280px;
	float: left;
	margin-right: 10px;
	font: 1em 'Open Sans', sans-serif;
}
input[type="submit"] {
	background: #ae2c52;
	border: none;
	color: #fff;
	font: 700 1.25em 'Open Sans', sans-serif;
	padding: 10px 35px;
	cursor: pointer;
	float: left;
}
article {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px;
}
article > h1 {
	font-size: 3em;
	text-align: center;
	margin-bottom: 25px;
}
article > p {
	margin-bottom: 30px;
}
.imgleft {
	float: left;
	margin: 0 30px 20px 0;
}

@media screen and (max-width: 768px) {
	input[type="text"], input[type="email"] {
		display: block;
		float: none;
		margin: 0 0 10px;
	}
	input[type="submit"] {
		padding: 10px 43px;
	}
	header {
		padding: 30px 20px;
	}
	header > h1 {
		font: 2.75em;
		margin-bottom: 25px;
	}
	header > h3 {
		margin-bottom: 25px;
	}
	article {
		padding: 25px 20px 0;
	}
	article > h1 {
		font-size: 2em;
	}
}